/* Selector Universal */

/* * {
  color: tomato;
  font-size: 36px;
  font-family: "Franklin Gothic Medium";

} */

/* Selectores de Tipo */

/* h2 {
  color: blue;
} */

/* h2 {
  color: red;
  font-size: 20px;
} */

/* main {
  color: red;
  margin-top: 40px;
  margin-bottom: 60px;
} */

/* section {
  color: red;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  color: orange;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
} */

/* body {
  background-color: steelblue;
}

h1 {
  color: orange;
  font-size: 16px;
} */

/* Selector de Clase */

/* .blue {
  color: blue;
} */

/* .morado {
  color: purple;
} */

/* .texto-grande {
  font-size: 32px;
} */

/* Selector de ID */

/* #titulo-principal {
  background-color: gray;
} */

/* 
1. !important
2. Atributo style
3. ID
4. Clase
5. Tipo 
6. Universal  
*/

/* Selector de Atributo */

/* [href] {
  color: blue;
}

[href="hola"] {
  color: crimson;
} */

/* [title$="CA"] {
  color: crimson;
} */

/* Agrupar o listar selectores */

/* h2,
.texto-grande,
[href="#titulo-principal"],
[src*="video"] {
  font-size: 32px;
} */

/* "mi-video"

"video-hd"

"mi-video.mp4" */

/* h1 {
  color: red;
} */

/* Selector de Pseudo Clase */
/* 
h2:hover {
  color: blue;
}

li:active {
  color: orange;
}

:focus {
  border-style: double;
}

a:visited {
  color: orange;
}

td:first-child,
th:first-child {
  background-color: gray;
} */

/* tr:nth-child(3) {
  background-color: crimson;
} */

/* li:not(:first-child) {
  color: red;
} */

/* :first-child

:not(p)

:not(.morado) */

/* Selector de Pseudo Elementos */

/* code::before {
  content: "`";
}

code::after {
  content: "`";
}

::first-letter {
  text-transform: lowercase;
}

p::first-line {
  letter-spacing: 3px;
}

::selection {
  text-decoration: underline;
}

::marker {
  color: crimson;
} */

/* Combinar Selectores */

/* 1. Descendientes  */
/* thead th {
  background-color: tomato;
} */

/* 2. Hijos directos  */
/* tbody > tr {
  background-color: burlywood;
} */

/* 3. Hermanos */
/* .referencial ~ td {
  color: blueviolet;
} */

/* 4. Hermano adyance directo */
/* .referencial2 + td {
  color: teal;
} */
