<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      li {
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }

      .note-actions {
        display: flex;
        gap: 2px;
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <%- body %>
  </body>
</html>
