<%- include('top-html'); -%>
<h1>Nueva Nota</h1>
<form action="/notes" method="post">
  <div>
    <label for="new-note">Contenido:</label>
    <input id="new-note" type="text" name="new-note" />
  </div>
  <button>Enviar</button>
</form>
<%- include('bottom-html'); -%>
