<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes | New</title>
  </head>
  <body>
    <h1>Nueva Nota</h1>
    <form action="/notes" method="post">
      <div>
        <label for="new-note">Contenido:</label>
        <input id="new-note" type="text" name="new-note" />
      </div>
      <button>Enviar</button>
    </form>
  </body>
</html>
