<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note</title>
  </head>
  <body>
    <h1>Detalle de la nota:</h1>
    <div>
      <!-- <p>ID: <%= note.id %></p> -->
      <p>Contenido: <%= note.content %></p>
    </div>
    <br />
    <a href="/notes">Volver a todas las notas</a>
  </body>
</html>
