<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
  </head>
  <body>
    <h1>Notas</h1>
    <ul>
      <% notes.forEach((note) => { %>
      <li><a href="/notes/<%=note.id%>"><%= note.content %></a></li>
      <% }) %>
    </ul>
    <a href="/new-note">Crear nueva nota</a>
  </body>
</html>
